<h1>Reward Shop</h1>
<%= link_to "Create New Award", new_reward_path %>
<h2>Active Rewards</h2>
  <div class='reward-holder'>
  <% @rewards.each do |reward| %>
  <% if reward.disabled == 0 %>
    <ul class='reward-card'>
      <li><%= reward.title %></li>
      <li>Price: <%= reward.price %></li>
      <li><%= link_to "Update", edit_reward_path(reward) %></li>
      <li><%= link_to "Disable", disable_reward_path(reward) %></li>
    </ul>
  <% end %>
  <% end %>
</div>
  <h2>Disabled Rewards</h2>
  <div class='reward-holder'>
  <% @rewards.each do |reward| %>
    <% if reward.disabled == 1 %>
    <ul class='reward-card'>
      <li><%= reward.title %></li>
      <li>Price: <%= reward.price %></li>
      <li><%= link_to "Update", edit_reward_path(reward) %></li>
      <li><%= link_to "Enable", enable_reward_path(reward) %></li>
    </ul>
  <% end %>
<% end %>
</div>
