<h1><strong><%= @user.name %></strong>: <% if @user.role == 1 %><%= "Admin" %><% else %><%= "User" %><% end %></h1>
<%= link_to "See All Users", all_users_path %>
<br>
<br>
<%= link_to "Edit User/Add Points", edit_users_path(@user) %>
<br>
<br>
<%= link_to "DELETE USER", user_delete_path(@user), method: :DELETE %>
<div class="user-show">
<ul>
  <li>Points: <%= @user.points %></li>
  <li>Redeemed Points: <%= @user.redeemed_points %></li>
  <li><h2>Rewards: </h2></li>
  <div class='user-reward-holder'>
    <ul class='user-reward-show'>
      <% @user.rewards.each do |reward| %>
      <ul class='user-reward-card'>
        <li><%= reward.title %>:</li>
        <li><%= reward.price %>pts</li>
      </ul>
      <% end %>
    </ul>
  </div>
</ul>
</div>
