<h1><strong><%= @user.name %></strong>: <% if @user.role == 1 %><%= "Admin" %><% else %><%= "User" %><% end %></h1>
<%= link_to "See All Users", all_users_path %>
<br>
<br>
<%= link_to "Edit User/Add Points", edit_users_path(@user) %>
<br>
<%= link_to "DELETE USER", user_delete_path(@user), method: :DELETE %>
<ul>
  <li>Points: <%= @user.points %></li>
  <li>Redeemed Points: <%= @user.redeemed_points %></li>
  <li>Rewards: </li>
  <li>
    <ul>
      <% @user.rewards.each do |reward| %>
      <li><%= reward.title %>: <%= reward.price %>pts</li>
      <li><%= link_to "Remove Reward", remove_reward_path(reward) %>
      <% end %>
    </ul>
  </li>
</ul>
