<!DOCTYPE html>
<html>
  <head>
    <title>Pointbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if notice %>
      <%= notice %>
	  <% end %>

	  <% if alert %>
      <%= alert %>
	  <% end %>

    <%= yield %>
  </body>
</html>
